@use 'sass:color';

$aurora: #16b8ba;

$dark-main-color: color.adjust($aurora, $lightness: -18%);
$main-font: Ubuntu, sans-serif;
$gray-500: #adb5bd;

$main-gradient: linear-gradient(
  90deg,
  rgba($dark-main-color, 1) 32%,
  rgba($aurora, 1) 100%
);
