/* bootstrap Configuration */
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/utilities';

@import '~bootstrap/scss/forms';

@import '../helpers/variables';

.form-control,
.form-select {
  &.disabled,
  &:disabled,
  &.readonly {
    background-color: #f8f9fa;
  }
  &:focus {
    border-color: rgba($color: $main-color, $alpha: 0.6);
    // box-shadow: 0 0 0 0.25rem rgba($color:$main-color , $alpha: 0.2);
    box-shadow: none;
  }
}

.form-check-input:checked {
  background-color: $main-color;
  border-color: $main-color;

  &:focus {
    box-shadow: none;
  }
}

.form-check-input:focus {
  border-color: rgba($color: $main-color, $alpha: 0.6);
  outline: 0;
  box-shadow: none;
}

.form-range {
  &:focus {
    &::-webkit-slider-thumb {
      box-shadow: 0 0 0 1px rgba($color: $main-color, $alpha: 0.7),
        0 0 0 0.25rem rgba($color: $main-color, $alpha: 0.5);
    }
    &::-moz-range-thumb {
      box-shadow: 0 0 0 1px rgba($color: $main-color, $alpha: 0.7),
        0 0 0 0.25rem rgba($color: $main-color, $alpha: 0.5);
    }
  }

  &::-webkit-slider-thumb {
    background-color: $main-color;

    &:active {
      background-color: $main-color;
    }
  }

  &::-webkit-slider-runnable-track {
    background-color: rgba($color: $main-color, $alpha: 0.2);
  }

  &::-moz-range-thumb {
    background-color: $main-color;

    &:active {
      background-color: rgba($color: $main-color, $alpha: 0.5);
    }
  }

  &::-moz-range-track {
    background-color: rgba($color: $main-color, $alpha: 0.2);
  }
}

.custom-input-group {
  .input-group-text {
    color: #333;
    background-color: #f8f9fa;
  }
}
.form-label {
  &.require {
    position: relative;

    &::before {
      content: '*';
      display: inline-block;
      color: red;
      position: absolute;
      right: -10px;
    }
  }
}
