@import './card.scss';
@import '../helpers/variables';

.single-book {
  .img {
    position: relative;
    z-index: 1;

    img {
      width: 100%;
      height: 300px;
      object-fit: cover;
    }

    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      transition: 0.4s;
    }
  }

  &:hover {
    .img {
      &::before {
        background-image: -webkit-linear-gradient(
          bottom,
          rgba($main-color, 70%) 20%,
          transparent
        );
      }
    }
  }
}
@media (max-width: 576px) {
  .single-book {
    .img {
      img {
        height: 300px;
      }
    }
  }
}
