/* bootstrap Configuration */
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/utilities';

@import '~bootstrap/scss/badge';
@import '~bootstrap/scss/tables';

@import '../../helpers/variables';

.book-details-page {
	.nav-link {
		color: $main-color;
		border: 1px solid $main-color !important;
		margin: 5px;

		&:hover {
			background-color: $main-color;
			color: #fff;
		}
	}
	.nav-pills .nav-link.active,
	.nav-pills .show > .nav-link {
		background-color: $main-color;
	}
}
