@import '../helpers//variables';

.awards-section {
  .writer-container {
    position: relative;

    .writer-img {
      position: relative;
      text-align: right;
      z-index: 1;

      .man-shape {
        position: absolute;
        z-index: 2;
        top: 10px;
        right: 180px;
      }
      .book-shelf {
        position: absolute;
        z-index: 2;
        bottom: -100px;
        right: 250px;
      }
      .pop-shape {
        position: absolute;
        z-index: -1;
        bottom: -50px;
        right: 150px;
      }
      .top-rounded-shape {
        position: absolute;
        top: 0;
        top: -110px;
        z-index: -1;
        right: 130px;
      }
    }
  }
}

.news-letter-page {
  background: center / cover no-repeat $main-color;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 700px;
}
