nav.navbar {
  .navbar-toggler:focus {
    box-shadow: 0 0 0 0.25rem #ddd;
  }
  .nav-item .nav-link {
    &:hover,
    &.active {
      color: $main-color;
    }
  }
  .navbar-search-form {
    position: relative;
    button {
      position: absolute;
      top: 0;
      right: 0;

      &:focus {
        box-shadow: none;
      }

      svg {
        width: 20px;
        height: 20px;
      }
    }
  }
}
