.services-section {
  .single-service {
    img {
      width: 120px;
      height: 120px;
      object-fit: contain;
      display: inline-block;
    }
  }
}

.hero-header {
  min-height: calc(100vh - 76px);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: $main-color;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 1;
  color: #fff;

  &:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: #0000006e;
    z-index: -1;
  }
}

.latest-books {
  .single-book {
    &:hover {
      .img {
        position: relative;
        z-index: 1;

        &::before {
          content: '';
          position: absolute;
          background-color: $main-color;
          opacity: 0.5;
          width: 100%;
          height: 100%;
          transition: 0.4s;
        }
      }
    }
  }
  @media (max-width: 576px) {
    .single-book {
      .img {
        img {
          height: 300px;
        }
      }
    }
  }
}

.testimonial-section {
  position: relative;
  .shapes {
    .rounded-border-shape {
      position: absolute;
      right: 0;
      top: 0;
      opacity: 0.7;
    }
    .dashed-shape {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      opacity: 0.7;
    }
  }
  .carousel {
    overflow: hidden;

    .carousel-item {
      height: 500px;

      .carousel-caption {
        bottom: 50%;
        transform: translateY(50%);
      }
    }
    .carousel-indicators [data-bs-target] {
      background-color: $main-color;
      width: 15px;
      height: 15px;
      border-radius: 50%;
    }
    .carousel-control-next {
      &:hover {
        transform: translateX(5px);
      }
    }
    .carousel-control-prev {
      &:hover {
        transform: translateX(-5px);
      }
    }
  }
}

.awards-section {
  .writer-container {
    position: relative;

    .writer-img {
      position: relative;
      text-align: right;
      z-index: 1;

      .man-shape {
        position: absolute;
        z-index: 2;
        top: 10px;
        right: 180px;
      }
      .book-shelf {
        position: absolute;
        z-index: 2;
        bottom: -100px;
        right: 250px;
      }
      .pop-shape {
        position: absolute;
        z-index: -1;
        bottom: -50px;
        right: 150px;
      }
      .top-rounded-shape {
        position: absolute;
        top: 0;
        top: -110px;
        z-index: -1;
        right: 130px;
      }
    }
  }
}

.location-section {
  a.text-muted:hover {
    color: $main-color !important;
  }
  .clients-container {
    .single-client img {
      transition: 0.5s;
      &:hover {
        transform: translate(0, -5px);
      }
    }
  }
}

@media (min-width: 576px) {
}
@media (min-width: 768px) {
}
@media (min-width: 992px) {
}
@media (min-width: 1200px) {
}
