.services-section {
  .single-service {
    img {
      width: 120px;
      height: 120px;
      object-fit: contain;
      display: inline-block;
    }
  }
}

.hero-header {
  min-height: calc(100vh - 76px);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: $main-color;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 1;
  color: #fff;

  &:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: #0000006e;
    z-index: -1;
  }
}

.latest-books {
  .single-book {
    &:hover {
      .img {
        position: relative;
        z-index: 1;

        &::before {
          content: '';
          position: absolute;
          background-color: $main-color;
          opacity: 0.5;
          width: 100%;
          height: 100%;
          transition: 0.4s;
        }
      }
    }
  }
  @media (max-width: 576px) {
    .single-book {
      .img {
        img {
          height: 300px;
        }
      }
    }
  }
}

.testimonial-section {
  position: relative;
  .shapes {
    .rounded-border-shape {
      position: absolute;
      right: 0;
      top: 0;
      opacity: 0.7;
    }
    .dashed-shape {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      opacity: 0.7;
    }
  }
  .carousel {
    overflow: hidden;

    .carousel-item {
      height: 500px;

      .carousel-caption {
        bottom: 50%;
        transform: translateY(50%);
      }
    }
    .carousel-indicators [data-bs-target] {
      background-color: $main-color;
      width: 15px;
      height: 15px;
      border-radius: 50%;
    }
    .carousel-control-next {
      &:hover {
        transform: translateX(5px);
      }
    }
    .carousel-control-prev {
      &:hover {
        transform: translateX(-5px);
      }
    }
  }
}

.awards-section {
  .writer-container {
    position: relative;

    .writer-img {
      position: relative;
      text-align: right;
      z-index: 1;

      .man-shape {
        position: absolute;
        z-index: 2;
        top: 10px;
        right: 180px;
      }
      .book-shelf {
        position: absolute;
        z-index: 2;
        bottom: -100px;
        right: 250px;
      }
      .pop-shape {
        position: absolute;
        z-index: -1;
        bottom: -50px;
        right: 150px;
      }
      .top-rounded-shape {
        position: absolute;
        top: 0;
        top: -110px;
        z-index: -1;
        right: 130px;
      }
    }
  }
}

.location-section {
  .clients-container {
    .single-client img {
      transition: 0.5s;
      &:hover {
        transform: translate(0, -5px);
      }
    }
  }
}

.banner {
  height: 300px;
  background: center / cover no-repeat $main-color;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  color: #fff;
  text-align: center;

  .page-subtitle {
    letter-spacing: 4px;
    color: $main-color;
    text-transform: uppercase;
  }
  .page-title {
    margin-top: -7px;
    font-size: 2.5rem;
  }
}

.qty-container {
  .btn-qty {
    background: none;
    color: #042825;
    border: 1px solid #ced4da;
    height: 40px;
    width: auto;
    padding: 0 10px;
    font-size: 13px;
    cursor: pointer;

    &:disabled {
      color: #555;
      background: #f2f2f2ad;
    }

    &.btn-qty-up {
      border-radius: 0 3px 3px 0;
    }
    &.btn-qty-down {
      border-radius: 3px 0 0 3px;
    }
  }
  input.form-qty {
    -moz-appearance: textfield;
    height: 40px;
    border: none;
    border-top-color: currentcolor;
    border-top-style: none;
    border-top-width: medium;
    border-bottom-color: currentcolor;
    border-bottom-style: none;
    border-bottom-width: medium;
    background: #ffffff;
    text-align: center;
    width: 50px;
    border-top: 1px solid #ced4da;
    border-bottom: 1px solid #ced4da;
    color: #042825;
    vertical-align: middle;
    outline: none;
  }
}

.book-details-page {
  .nav-link {
    color: $main-color;
    border: 1px solid $main-color;
    margin: 5px;

    &:hover {
      background-color: $main-color;
      color: #fff;
    }
  }
  .nav-pills .nav-link.active,
  .nav-pills .show > .nav-link {
    background-color: $main-color;
  }
}

.page-not-found {
  height: calc(100vh - 76px);
  background: center / cover no-repeat $main-color;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  text-align: center;
}

.autobiography-section {
  .autobiography-container {
    position: relative;

    .autobiography-img {
      position: relative;
      text-align: right;
      z-index: 1;

      .writer-machine {
        position: absolute;
        z-index: 2;
        top: -160px;
        left: -50px;
      }
      .cup-shape {
        position: absolute;
        z-index: 2;
        bottom: -100px;
        right: 250px;
      }
      .spread-shape {
        position: absolute;
        z-index: -1;
        top: -150px;
        left: -150px;
      }
      .orange-rounded-shape {
        position: absolute;
        top: 0;
        top: -110px;
        z-index: -1;
        right: 130px;
      }
      .interview-word {
        position: absolute;
        right: 70px;
        top: -90px;
      }
    }
  }
}

.coffee-section {
  .coffee-container {
    position: relative;

    .coffee-img {
      position: relative;
      text-align: right;
      z-index: 1;

      .writer-machine {
        position: absolute;
        z-index: 2;
        top: 230px;
        left: 40px;
      }
      .cup-shape {
        position: absolute;
        z-index: 2;
        bottom: -100px;
        right: 250px;
      }
      .pop-shape {
        position: absolute;
        z-index: -1;
        top: -50px;
        left: 20px;
      }
      .yellow-rounded-shape {
        position: absolute;
        top: 150px;
        z-index: -1;
        right: -100px;
      }
      .hand-write-shape {
        position: absolute;
        right: 40px;
        bottom: -90px;
      }
    }
  }
}

.login-page,
.register-page {
  .social-media-icon {
    width: 40px;
    height: 40px;
    line-height: 35px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 50%;
    display: inline-block;
    margin: 0 10px;
  }
  @media (max-width: 768px) {
    .bg-login,
    .login-content {
      border-radius: 0.25rem;
    }
  }
}

.events-page {
  .book-events {
    background: center / cover no-repeat $main-color;
  }

  ul.events-list {
    li {
      border-bottom: 1px solid #ddd;

      &:last-of-type {
        border: none;
      }
    }
  }

  .join-club {
    height: 250px;
    background: center / no-repeat $main-color;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .timeline-container {
    .single-timeline.special {
      position: relative;

      &::before {
        content: '';
        position: absolute;
        background: $main-color;
        height: 15px;
        width: 100%;
        top: 0;
      }
    }
  }
}

.author-details-page {
  background: center / cover no-repeat $main-color;
}

.news-letter-page {
  background: center / cover no-repeat $main-color;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 700px;
}

.cart-page {
  table {
    vertical-align: middle;
    td.td-title {
      min-width: 340px;
    }
    td.td-price {
      min-width: 70px;
    }
    td.td-quantity {
      min-width: 120px;
    }
    td.td-total {
      min-width: 50px;
    }
  }
}

.single-member-wrapper {
  position: relative;
  text-align: center;

  .member-image-container {
    position: relative;
    z-index: 1;
    width: 220px;
    margin: auto;

    .member-image {
      max-width: 100%;
      height: auto;
      border-radius: 50%;
    }

    .rounded-shape {
      position: absolute;
      top: -55px;
      z-index: -1;
      right: -20px;

      svg {
        display: block;
        width: 240px;
        height: 237px;

        path {
          fill: rgba($color: $main-color, $alpha: 0.1);
          transition: 0.5s cubic-bezier(0.18, 0.71, 0.24, 0.93);
          stroke: none;
          transform: scale(0);
          transform-origin: center;
        }
      }
    }
    .line-shape {
      position: absolute;
      top: 50%;
      left: 45%;
      transform: translate(-50%, -50%);
      z-index: -1;

      svg {
        display: block;
        width: 245px;
        height: 29px;

        path {
          position: absolute;
          top: 165px;
          left: 52%;
          fill: transparent;
          stroke: $main-color;
          stroke-dasharray: 257;
          stroke-dashoffset: 257;
          transition: 0.2s;
        }
      }
    }

    .member-signature {
      position: absolute;
      left: 65%;
      bottom: 0;
      z-index: 10;
      opacity: 0;
    }

    .plus-shape {
      .animate-plus {
        color: #2d4c6f;
        position: absolute;
        transform: translate(-50%, -50%);
        z-index: -1;
        font-size: 30px;
        transition: 0.2s;
        opacity: 0;
      }
      .animate-plus:nth-child(1) {
        top: -11%;
        left: 10%;
        transition-delay: 0.25s;
      }
      .animate-plus:nth-child(2) {
        top: 6%;
        left: -8%;
        transition-delay: 0.2s;
      }
      .animate-plus:nth-child(3) {
        top: 24%;
        left: -26%;
        transition-delay: 0.14s;
      }
      .animate-plus:nth-child(4) {
        top: 40%;
        left: -11%;
        transition-delay: 0.1s;
      }
      .animate-plus:nth-child(5) {
        top: 22%;
        left: 5%;
      }
    }
  }

  .member-info {
    .member-position {
      letter-spacing: 4px;
      color: #999;
      font-size: 12px;
      margin-top: 10px;
      margin-bottom: 0;
      text-transform: uppercase;
    }
  }

  &:hover {
    .member-image-container {
      .rounded-shape svg path {
        transform: scale(1);
      }
      .line-shape svg path {
        stroke-dashoffset: 0;
        transition: 0.6s cubic-bezier(0.53, 0.29, 0.25, 1);
      }
      .member-signature {
        opacity: 1;
        transition: 1s 0.15s;
      }
      .plus-shape .animate-plus {
        opacity: 1;
      }
    }
  }
}

@media (min-width: 576px) {
}
@media (min-width: 768px) {
}
@media (min-width: 992px) {
}
@media (min-width: 1200px) {
}
