.qty-container {
  .btn-qty {
    background: none;
    color: #042825;
    border: 1px solid #ced4da;
    height: 40px;
    width: auto;
    padding: 0 10px;
    font-size: 13px;
    cursor: pointer;

    &:disabled {
      color: #555;
      background: #f2f2f2ad;
      cursor: not-allowed;
    }

    &.btn-qty-up {
      border-radius: 0 3px 3px 0;
    }
    &.btn-qty-down {
      border-radius: 3px 0 0 3px;
    }
  }
  input.form-qty {
    -moz-appearance: textfield;
    height: 40px;
    border: none;
    border-top-color: currentcolor;
    border-top-style: none;
    border-top-width: medium;
    border-bottom-color: currentcolor;
    border-bottom-style: none;
    border-bottom-width: medium;
    background: #ffffff;
    text-align: center;
    width: 50px;
    border-top: 1px solid #ced4da;
    border-bottom: 1px solid #ced4da;
    color: #042825;
    vertical-align: middle;
    outline: none;
  }
}

.login-page,
.register-page {
  .social-media-icon {
    width: 40px;
    height: 40px;
    line-height: 35px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 50%;
    display: inline-block;
    margin: 0 10px;
  }
  @media (max-width: 768px) {
    .bg-login,
    .login-content {
      border-radius: 0.25rem;
    }
  }
}

.events-page {
  .book-events {
    background: center / cover no-repeat $main-color;
  }

  ul.events-list {
    li {
      border-bottom: 1px solid #ddd;

      &:last-of-type {
        border: none;
      }
    }
  }

  .join-club {
    height: 250px;
    background: center / no-repeat $main-color;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .timeline-container {
    .single-timeline.special {
      position: relative;

      &::before {
        content: '';
        position: absolute;
        background: $main-color;
        height: 15px;
        width: 100%;
        top: 0;
      }
    }
  }
}

.author-details-page {
  background: center / cover no-repeat $main-color;
}

.cart-page {
  table {
    vertical-align: middle;
    td.td-title {
      min-width: 340px;
    }
    td.td-price {
      min-width: 70px;
    }
    td.td-quantity {
      min-width: 120px;
    }
    td.td-total {
      min-width: 50px;
    }
  }
}

.css-tooltip {
  position: relative;

  &::after {
    background: $main-color;
    border-radius: 0.1rem;
    bottom: 100%;
    color: #fff;
    content: attr(data-tooltip);
    display: block;
    font-size: 0.7rem;
    left: 50%;
    max-width: 320px;
    opacity: 0;
    overflow: hidden;
    padding: 0.2rem 0.4rem;
    pointer-events: none;
    position: absolute;
    text-overflow: ellipsis;
    transform: translate(-50%, 0.4rem);
    transition: opacity 0.2s, transform 0.2s;
    white-space: pre;
    z-index: 300;
  }

  &:focus::after,
  &:hover::after {
    opacity: 1;
    transform: translate(-50%, -0.2rem);
  }

  &[disabled],
  &.disabled {
    pointer-events: auto;
  }

  &.tooltip-right {
    &::after {
      bottom: 50%;
      left: 100%;
      transform: translate(-0.2rem, 50%);
    }
    &:focus::after,
    &:hover::after {
      transform: translate(0.2rem, 50%);
    }
  }

  &.tooltip-bottom {
    &::after {
      bottom: auto;
      top: 100%;
      transform: translate(-50%, -0.4rem);
    }
    &:focus::after,
    &:hover::after {
      transform: translate(-50%, 0.2rem);
    }
  }

  &.tooltip-left {
    &::after {
      bottom: 50%;
      left: auto;
      right: 100%;
      transform: translate(0.4rem, 50%);
    }
    &:focus::after,
    &:hover::after {
      transform: translate(-0.2rem, 50%);
    }
  }
}

@media (min-width: 576px) {
}
@media (min-width: 768px) {
}
@media (min-width: 992px) {
}
@media (min-width: 1200px) {
}
